page-forgot-password {
        .header{
            .button {
                background-color: transparent;
                color:#fff;
            }
        }
        .scroll-content{
            padding: 70px !important;
        }
        .content {
            background: -moz-linear-gradient(45deg, rgba(139, 196, 63, 1) 0%, rgba(56, 179, 75, 1) 100%);
            /* ff3.6+ */
            background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(139, 196, 63, 1)), color-stop(100%, rgba(56, 179, 75, 1)));
            /* safari4+,chrome */
            background: -webkit-linear-gradient(45deg, rgba(139, 196, 63, 1) 0%, rgba(56, 179, 75, 1) 100%);
            /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(45deg, rgba(139, 196, 63, 1) 0%, rgba(56, 179, 75, 1) 100%);
            /* opera 11.10+ */
            background: -ms-linear-gradient(45deg, rgba(139, 196, 63, 1) 0%, rgba(56, 179, 75, 1) 100%);
            /* ie10+ */
            background: linear-gradient(45deg, rgba(139, 196, 63, 1) 0%, rgba(56, 179, 75, 1) 100%);
            /* w3c */
            //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38b34b', endColorstr='#8bc43f',GradientType=1 ); /* ie6-9 */
            
            .content-head{
                img {
                    height: 60px;
                }
                p{
                    font-size: 22px;
                    color: #fff;
                    margin: 10px 0 40px;
                }
            }

            .item-wrap{
                margin-bottom: 40px;
                ion-item{
                    background-color: transparent;
                    .item-inner {
                        border-bottom: 0.55px solid #fff;
                        .text-input::-moz-placeholder {
                            color: white;
                            font-size: 14px;
                          }
                          
                        .text-input:-ms-input-placeholder {
                            color: white;
                            font-size: 14px;
                          }
                          
                        .text-input::-webkit-input-placeholder {
                            text-indent: 0;
                            color: white;
                            font-size: 14px;
                          }
                        .text-input{
                            color: #fff;
                            font-size: 14px;
                          }

                          button{
                            right: -8px;
                          }
                    }
                }
            }
            .forgot-button {
                background-color: #fff;
                color: #32db64;
                margin-bottom: 25px;
            }
            .code-button{
                color: #fff;
            }
        }
}
