<ion-content>
    <ion-item no-lines [style.backgroundImage]="getBanner()" class="restaurant-cover-img">
        <ion-icon end name="create" style="position: absolute;right: 5%;"></ion-icon>
        <ion-item no-lines>
            <ion-avatar item-start>
                <img src="{{logo}}">
            </ion-avatar>
            <h1>{{restaurant['name']}}</h1>
            <p>{{restaurant['address']}}</p>
            <p (click)="callTheRestaurant(restaurant['contact'])">
                {{restaurant['contact']}}
                <ion-icon name="call"></ion-icon>
            </p>
            <button ion-button>Open</button>
        </ion-item>
    </ion-item>
    <ion-card>
        <img src="{{ specialImgUrl + selected.image }}" style="max-height:200px" />
        <ion-card-content>
            <ion-card-title>
                <!-- {{ selected.title }} -
                            <ion-note item-end style="color: coral">
                                ${{selected.price - selected.price * selected.discount/100 }} - (<del>${{selected.price}}</del>)
                            </ion-note> -->
                <!-- <p class="item-restutent">{{selected.name}}</p> -->
                <p class="item-food-name">{{selected.title}}</p>
                <p class="item-price">Price: ${{selected.price - selected.price * selected.discount/100 }} - (<del>${{selected.price}}</del>)</p>
            </ion-card-title>
            <!-- <p><span class="item-head">Description:</span> {{ selected.description }} </p> -->
            <p><span class="item-head">For:</span> {{ selected.for }} </p>
            <p><span class="item-head">Address:</span> {{selected.address}}</p>
            <p><span class="item-head">Distance:</span> {{getDistanceFromLatLonInKm(selected.lat, selected.lng) | number}} km</p>
            <p><span class="item-head">Opening:</span> {{selected.opening}}</p>
            <p>
                <span class="item-head">Rating:</span>
                <ion-icon name="star" *ngFor="let num of getStartArray(selected.rating)" [ngStyle]="{'color': getColor(selected.rating, num)}"></ion-icon>
            </p>
            <p>{{ getday(selected.available) }}</p>
        </ion-card-content>
        <ion-row no-padding>
            <ion-col>
                <button *ngIf="!selected['isFavourite']" ion-button clear small color="secondary" icon-start (click)="addFavourite()">
                    <ion-icon name='heart-outline'></ion-icon> Add Favorite
                </button>
                <button *ngIf="selected['isFavourite']" ion-button clear small color="secondary" icon-start (click)="removeFavourite()">
                    <ion-icon name='heart'></ion-icon> Remove Favorite
                </button>
            </ion-col>
            <ion-col text-right>
                <button ion-button clear small color="secondary" icon-start (click)="addToReserveList(selected)">
                    <ion-icon name='cart'></ion-icon> Reserved Now
                </button>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card *ngIf="isEmpty">
        <ion-card-content text-center>
            No Menu Found.
        </ion-card-content>
    </ion-card>
    <ion-content *ngIf="!isEmpty">
        <ion-list>
            <ion-list-header color="dark-light">
                <h2>Others Menu</h2>
            </ion-list-header>
        </ion-list>
        <ion-item-group *ngFor="let m of menus">
            <ion-item-divider color="light">{{m.category}}</ion-item-divider>
            <ion-item *ngFor="let l of m.list">
                <ion-icon name="md-restaurant" item-start></ion-icon>
                {{ l.name }}, {{ l.details }}
                <ion-note item-end style="color: coral;">
                    ${{l.price}}
                </ion-note>
            </ion-item>
        </ion-item-group>
    </ion-content>
    <ion-fab right bottom *ngIf="!isEmptyReservation()">
        <button ion-fab mini color="secondary" (click)="gotToReservation()">
            <ion-icon name="cart"></ion-icon>
        </button>
    </ion-fab>
</ion-content>