<ion-header>
    <!-- <ion-navbar color="secondary"> -->
        <!-- <ion-title>Reset Password</ion-title> -->
        <ion-buttons end icon-only>
            <button ion-button (tap)="closeModal(false)">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    <!-- </ion-navbar> -->
</ion-header>

<ion-content padding>
    <div text-center class="content-head">
        <img src="assets/imgs/business-logo-dummy.png" alt="logo">
        <p>Reset Password</p>
    </div>
    <form *ngIf="form" [formGroup]="form">
        <div class="item-wrap">
            <ion-item>
                <ion-input type={{type}} formControlName="password" placeholder="New Password" clearInput></ion-input>
                <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="eye-off"></ion-icon></button>
                <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="eye"></ion-icon></button>
            </ion-item>
            <ion-item>
                <ion-input type={{confirmPassType}} formControlName="confirmPassword" placeholder="Confirm Password" clearInput></ion-input>
                <button *ngIf="!showConfirmPass" ion-button clear color="dark" type="button" item-right (click)="showConfirmPassword()"> <ion-icon name="eye-off"></ion-icon></button>
                <button *ngIf="showConfirmPass" ion-button clear color="dark" type="button" item-right (click)="showConfirmPassword()"> <ion-icon name="eye"></ion-icon></button>
            </ion-item>
        </div>
        <button ion-button full round class="reset-button" (tap)="resetPassword()" [disabled]="!isReadyToSave">Reset Password</button>
    </form>
</ion-content>