page-special-details {
    .content {
        .segment-button {
            border: none;
        }
        .segment-activated {
            border-bottom: 4px solid #32db64;
        }
        .segment-button:active:not(.segment-activated) {
            background-color: transparent;
        }
        .restaurant-cover-img {
            width: 100%;
            height: 23%;
            margin-bottom: 20%;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            .icon {
                color: #fff;
            }
        }
        .restaurent-info {
            position: absolute;
            top: 10%;
            left: 5%;
            width: 90%;
            // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            .item {
                border-bottom: 1px solid gainsboro;
                padding-left: 0px;
                .item-inner {
                    padding-right: 0px;
                }
                img {
                    border-radius: 0;
                }
                h1 {
                    font-size: 17px;
                    font-weight: 500;
                }
                p {
                    font-size: 13px;
                }
            }
            .button {
                height: 35%;
            }
            .special-nav {
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                .segment-button {
                    color: #000;
                    font-weight: 500;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                    background-color: transparent;
                }
            }
            p {
                .icon {
                    font-size: 17px;
                    margin-left: 2%;
                    padding: 4px 10px;
                    border-radius: 4px;
                }
            }
        }
        .reservation-bottom {
            box-shadow: 0 0 1boxpx 1px rgba(0, 0, 0, 0.3);
            .col {
                padding: 2px;
                .icon {
                    font-size: 20px;
                }
            }
            img {
                height: 92px;
                border-radius: 4px;
            }
            .food-name {
                font-size: 18px;
                font-weight: 600;
                color: #000;
            }
            .food-price {
                font-size: 14px;
            }
            .food-description {
                font-size: 16px;
            }
        }
    }

    .list-header{
        margin-bottom: 0px;
        // padding-left: 0px;
    }
}