page-not-found {
  .content{
    .col_decoration {
           
        margin-top: 10%;
        ion-item {
            width: 0px;
            padding: 1px;
            margin: auto;
            min-height: 20px;
            background-color: green;
        }
        .col {
            padding: 0;
            button {
                span {
                    // border-bottom: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: green;
                    font-weight: 700;
                }
            }
        }
    }
      .signUpChoiceBody{
          padding: 5%;
          .body-head{
              .col{
                  font-size: 12px;
              }
          }

          .body-bottom{
            margin-top: 50%;
           p{
            font-size: 18px;
            color: #387ECF;
            font-weight: 700;
            margin: 18px 0 0;
           }
          }

          p{
              font-size: 13px;
              margin-left: 3%;
          }
      }
  }
}
